@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

header {
    background-color: #282a37;
    padding: 22px;
}

.contain {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}


/*estilizando o logo*/
.logo h1 {
    font-size: 35px;
    color: #ff0000;
}

.logo .edu {
    color: #21bef1;
}

.logo .de {
    color: #fff;
}

/*estilizando o menu*/
.menu-burger{
    display: none;
}

.contain .nav .not{
    color: #fff;
    margin-right: 20px;

}

.contain .nav  .not {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.contain .nav li a, .not:hover {
    padding-bottom: 5px;
    color: #ff0000;
    border-bottom: #ff0000 2px solid;
}

/*estilizando primeira sessão*/
main {
    background-color: #aca9a5;
}

.text {
    padding: 25px;
    width: 100%;
    max-width: calc(1280px - 420px);
    height: 700px;
    background-image: url("../imagem/fundo.png");
    background-size: cover;
}

.text h1 {
    margin-top: 90px;
    font-size: 60px;
    color: #21bef1;
    font-weight: lighter;
}

.text .letter-red {
    color: #ff0000;
    font-weight: 900;
}

.text p {
    color: #000;
    margin-top: 10px;
}

/*formulario inicio*/
.formulario {
    height: 700px;
    width: 100%;
    max-width: 420px;
    background-color: #21bef1;
    padding: 50px 30px;
}

.formulario h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.formulario p {
    text-align: center;
    margin-bottom: 10px;
}

.form [type="text"] {
    height: 40px;
    padding: 5px;
    width: 170px;
    font-size: 18px;

}

.form select,
[type="email"],
[type="tel"],
h3 {
    width: 350px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
}

.form [type="text"],
select,
[type="email"],
[type="tel"]:focus {
    outline: none;
}

.btn {
    margin-top: 25px;
    width: 350px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #fc4700;
}
/*sessão cards*/
#course {
    background-color: #fff;

}

.cardes {
    color: #000;
    padding-top: 150px;
    padding: 20px;
    background-color: #fff;
    height: 500px;
    justify-content: space-around;
}

.contain .carde {
    width: 300px;
    text-align: center;
    padding: 22px;
    box-shadow: 10px 10px 30px;
    border-radius: 10px;
}

.contain .carde h3 {
    width: 250px;

}

/*estilizando a sessão sobre*/
.imag-prof {
    margin: 50px auto 50px auto;
    padding: 50px;
}

.imag-prof img {
    width: 650px;
    padding: 10px;
}

.contain .sobre {
    width: 500px;
    height: 400px;

}

.contain .sobre h2 {
    color: #2158f1;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}

.contain .sobre p {
    color: #000;
    margin-top: 10px;
}

/*estilizando sessão depoimento*/
#feed {
    padding: 50px;
    background-color: #fff;

}

#feed h1 {
    text-align: center;
    font-size: 40px;
    margin: 35px;
    color: #21bef1;
    text-transform: uppercase;
}

.contain .depoimento {
    margin-top: 25px;
    color: #282a37;
    width: 100%;
    max-width: calc(1100px / 4);
}

.contain .depoimento img {
    width: 120px;
    border-radius: 50%;
    margin: 10px;
    border: #ff0000 2px solid;

}

.contain .depoimento span {
    font-weight: 900;
    text-decoration: underline;
}

/*estilizando o footer*/
footer {
    background-color: #000;
    padding: 35px;
}

.contain .social-media {
    width: 250px;
    display: flex;
    justify-content: space-around;

}

.contain .social-media a {
    font-size: 30px;
    color: #fff;
}

.contato .logo a {
    text-decoration: none;
}

/*responsivo do site*/
@media screen and (max-width:1024px ){
    .containe {
        width: 100%;
        max-width: 1024px;

    }
    .contain .nav li a{
        font-size: 15px;
    }
    .text{
        width: 100%;
        max-width: calc(1024px - 420px);
    }
    .text h1{
        font-size: 50px;
    }
    .contain .sobre{
        margin: 0 auto;
    }
    .imag-prof img {
        margin: 0 auto;
        
    }
    .contain .sobre {
        text-align: justify;
    }
}

@media screen and (max-width:768px ){

    .contain {
        width: 100%;
        max-width: 750px;
      display: flex;
     
      position: relative;
      

    }
    .firt{
        background-image: url("../imagem/fundo.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .text {
        display: none;
        
     }
     .carde{
        margin-top: 30px;
     }
#course{
   
    height:950px;
}
.contain .sobre{
    margin: 0 auto;
    text-align: center;
} 

}

@media screen and (max-width:425px ) {
    .contain {
        width: 100%;
        max-width: 370px;
      display: block;
      position: relative;
      

    }
    .menu-burger{
        display: block;
        position: absolute;
       top:35px;
       right: 10px;
    }
    .contain .nav ul li {
        display: none;
        margin-right: 20px;
    
    }
    
.text {
   display: none;
   
}
.firt{
    padding: 0px 10px;
}
.firt h3{
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}
.formulario{
    margin: 0 auto;
    width: 100%;
    max-width: 370px;
    padding: 12px;
    height: auto;
}
.form [type="text"] {
    display: block;
    width: 100%;
    max-width: 370px;
    margin-top: 10px;

}
.form select,
[type="email"],
[type="tel"]{
    width: 100%;
    max-width: 342px;
    
   
}
.btn{
    width: 100%;
    max-width: 350px;
}

main{
   background-color: #fff;
}
#course{
    height: 1150px;
    color:#000;
    margin-top: 50px;
}
.cardes{
  
     color: #000;
   
 }
.carde{
    margin: 30px auto;
}
.contain{
    display: block;
}
#about{
    width: 100%;
    background-color: #aca9a5;
    margin-top: 250px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.imag-prof{
    padding: 20px;
}
.imag-prof img{
    width: 100%;
    max-width:370px;
    

}
.imag-prof .sobre{
    width: 100%;
    max-width: 370px;
    height: auto;
   text-align: center;
   padding: 10px;

}
.imag-prof .sobre h2{
    width: 100%;
    max-width: 320px;
    font-size: 25px;
}
.imag-prof .sobre p{
    width: 100%;
    max-width: 320px;
}
#feed{
    padding: 10px;
    margin-top: 0;
   
}
#feed h1{
    margin-top: 0;
  font-size: 30px;
}
.contain .depoimento{
    margin-top: 20px;
    width: 100%;
    max-width: 370px;
    padding:15px;
}
.contain .social-media{
   margin-bottom: 10px;
  
}
.contato .logo a h1{
    font-size:25px;
}
}